.top-buffer {
  margin-top: 25px;
}

.left-buffer {
  margin-left: 20px;
}

.align-center {
  align-items: center;
}

.undo-link-style {
  color: black;
  text-decoration: none;
}
.undo-link-style:hover {
  color: black;
  text-decoration: none;
}

.news-feed-title {
  padding-left: 40px;
}

ul {
  list-style: none;
}

.padding-20 {
  padding: 20px;
}

.arbitrage-heading {
  width: 70%;
  margin: 0 auto;
}

#arbitrage-description {
  font-size: 16px;
}
