.top-buffer {
  margin-top: 20px;
}

/* .exchange-prices-per-coin-pair-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.coin-selection-form {
  padding: 10px;
}

.inputs-container {
  display: flex;
  justify-content: space-between;
}

.inputs-container input {
  padding: 4px 8px;
  margin: 12px;
} */
